/* Section BIO */
#bio .bio-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 2rem;
    text-align: left;
}

#bio .bio-img {
    width: 300px;
    height: auto;
    object-fit: cover;

}

#bio .bio-text p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: white;
}

@media (max-width: 768px) {
    #bio .bio-container {
        flex-direction: column;
        text-align: center;
    }

    #bio .bio-img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }
}
