section {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 20px;
}

.section-rouge {
    background-color: #b93b2f;
    color: white;
    padding: min(20px, 5%);
    border-radius: 8px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

