@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    max-width: 800px;
    margin: 2rem auto;
    opacity: 0;
}

.main{
    margin: auto;
    padding: 0 8px;
    opacity: 100;
    max-width: 700px;
}

section.is-visible {
    animation: slide-in 1s ease-out forwards;
}

.section-rouge {
    background-color: #b93b2f;
    color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: var(--Box-shadow);
}

.section-rouge h2 {
    margin-top: 0;
}

