.text-box {
    display: flex;
    align-items: center;
    gap: 15px; /* Espace entre l'image et le texte */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: max-content; /* Ajuste la largeur au contenu */
    padding: 15px 25px; /* Augmentation du padding */
    background-color: #ffffff; /* Fond blanc */
    border: none; /* Suppression de la bordure */
    border-radius: 15px; /* Coins plus arrondis */
    box-shadow: 0 4px 20px rgba(0,0,0,0.1); /* Ombre plus douce */
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.text-box-icon {
    width: 50px; /* Taille de l'icône augmentée */
    height: 50px;
    flex-shrink: 0; /* Empêche l'image de rétrécir */
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box p {
    margin: 0;
}

.text-box .text-content p:first-of-type {
    font-size: 1rem;
    font-weight: bold; /* Texte en gras */
    color: #000;
}

.text-box .text-content p:nth-of-type(2) {
    font-size: 0.9rem;
    color: #6c757d; /* Couleur grise */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1;
}

.hidden-checkbox {
    display: none;
}

#textbox-toggle:checked + .text-box {
    opacity: 0;
    visibility: hidden;
}

.text-box.fade-out {
    opacity: 0;
}
