.text-box {
    display: flex;
    align-items: center;
    gap: 15px; /* Espace entre l'image et le texte */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: max-content; /* Ajuste la largeur au contenu */
    padding: 15px 25px; /* Augmentation du padding */
    background-color: #ffffff; /* Fond blanc */
    border: none; /* Suppression de la bordure */
    border-radius: 15px; /* Coins plus arrondis */
    box-shadow: 0 4px 20px rgba(0,0,0,0.1); /* Ombre plus douce */
    z-index: 1000;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.text-box-icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25%;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px; /* Espace entre le texte et le bouton de fermeture */
}

.text-box p {
    margin: 0;
}

.text-box .text-content p:first-of-type {
    font-size: 0.95rem;
    font-weight: bold; /* Texte en gras */
    color: #000;
}

.text-box .text-content p:nth-of-type(2) {
    font-size: 0.9rem;
    color: #6c757d; /* Couleur grise */
}

.close-btn {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1;
}

.hidden-checkbox {
    display: none;
}

#textbox-toggle:checked + .text-box {
    opacity: 0;
    visibility: hidden;
    transform: translateX(calc(100% + 20px));
}

.text-box.fade-out {
    opacity: 0;
    transform: translateX(calc(100% + 20px));
}

@media (max-width: 600px) {
    .text-box {
        padding: 10px 15px;
        right: 10px;
        bottom: 10px;
        max-width: 80%;
    }
    .text-box-icon {
        width: 35px;
        height: 35px;
    }
    .text-box .text-content p:first-of-type {
    font-size: 0.85rem;
}

    .text-box .text-content p:nth-of-type(2) {
        font-size: 0.8rem;
}
}